{% extends "layout.html" %}
{% block content %}


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div id="chartContainer" class="chartContainer"></div>
<h1 id="header"></h1>


<script>

points = ["2016-00-04,109.000000,122.180000,104.959999,111.389999",
        "2016-00-11,112.129997,117.779999,101.209999,104.040001",
        "2016-00-18,106.570000,110.139999,97.050003,100.720001",
        "2016-00-25,99.779999,102.680000,90.110001,91.839996",
        "2016-01-01,91.790001,97.180000,81.860001,82.790001",
        "2016-01-08,80.570000,92.209999,79.949997,87.400002",
        "2016-01-15,89.000000,94.900002,87.540001,89.230003",
        "2016-01-22,90.750000,97.480003,86.699997,94.790001",
        "2016-01-29,94.809998,102.220001,93.339996,101.580002",
        "2016-02-07,101.000000,101.790001,94.500000,97.660004",
        "2016-02-14,97.199997,102.410004,96.430000,101.120003",
        "2016-02-21,101.150002,102.099998,97.070000,98.360001",
        "2016-01-29,94.809998,102.220001,93.339996,101.580002",
        "2016-02-14,97.199997,102.410004,96.430000,101.120003",
        "2016-02-21,101.150002,102.099998,97.070000,98.360001",
        "2016-02-28,98.339996,105.790001,97.820000,105.699997",
        "2016-03-04,105.900002,106.440002,102.820000,103.809998",
        "2016-03-11,104.040001,111.849998,102.209999,111.510002",
        "2016-03-18,109.900002,110.699997,93.139999,95.900002",
        "2016-03-25,95.699997,95.750000,88.209999,90.029999",
        "2016-04-02,90.410004,93.250000,88.110001,90.839996",
        "2016-04-09,90.730003,93.250000,85.739998,87.879997",
        "2016-04-16,87.559998,93.279999,86.150002,92.489998",
        "2016-04-23,92.980003,104.000000,92.849998,103.300003",
        "2016-04-30,102.949997,103.449997,98.529999,99.589996",
        "2016-05-06,100.290001,101.629997,93.279999,93.750000",
        "2016-05-13,95.019997,97.199997,93.250000,94.449997",
        "2016-05-20,95.220001,95.879997,87.209999,88.440002",
        "2016-05-27,87.879997,97.000000,84.809998,96.669998",
        "2016-06-04,95.199997,101.269997,93.180000,97.059998",
        "2016-06-11,96.190002,98.699997,94.089996,98.389999",
        "2016-06-18,98.430000,99.839996,84.500000,85.889999",
        "2016-06-25,85.730003,93.099998,85.010002,91.250000",


];

window.onload = function () {
//         points = fetch('http://127.0.0.1:5000/stock/P29R0/1', {
//     method: 'POST',
// })
// .then(response => response.json())
// .then(text => console.log(text));
    var dataPoints = [];
    var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled:"true",
            theme: "dark1",
            title : {
                text : "Dynamic Data"
            },
            data : [{
                    type : "candlestick",
                    color: "red",
                    risingColor:"green",
                    dataPoints : dataPoints
                }

            ],

            axisY: {
         stripLines:[
            {

                startValue:80,
                endValue:85,
                color:"#0e9c34",
            },
             {

                startValue:85,
                endValue:90,
                color:"#1ce652",
            },
                 {
                         startValue: 115,
                         endValue: 120,
                         color: "#f2022b",
                 },
                 {
                    startValue: 110,
                         endValue: 115,
                         color: "#d93f59",
                 }
            ]

        }


        }
        );

    chart.render();

    var updateCount = -1;
    var updateChart = function () {


    updateCount++;
    dataPoints.push({
            x: new Date(
                     parseInt(points[updateCount].split("-")[0]),
                    parseInt(points[updateCount].split("-")[1]-1),
                    parseInt(points[updateCount].split("-")[2])
                ),
                y: [

                    parseFloat(points[updateCount].split(",")[1]),
                    parseFloat(points[updateCount].split(",")[2]),
                    parseFloat(points[updateCount].split(",")[3]),
                    parseFloat(points[updateCount].split(",")[4])
                ],


 },
            );
        chart.options.title.text = "Update " + updateCount;
        chart.render();
        if(updateCount == 29){
        clearInterval(x);
        }
    };


    // update chart every second
    var x = setInterval(function(){updateChart()}, 1000);
}


        function tableCreate() {
  const body = document.body,
        tbl = document.createElement('table');
  tbl.style.width = '150px';
  tbl.style.border = '1px solid black';
  tbl.style.background = 'green'

  for (let i = 0; i < 11; i++) {
    const tr = tbl.insertRow();
    for (let j = 0; j < 1; j++) {
      if (i === 11 && j === 1) {
        break;
      } else {
        const td = tr.insertCell();
        td.appendChild(document.createTextNode(`3${j}${i}`));
        td.style.border = '1px solid black';
        if (i === 11 && j === 1) {
          td.setAttribute('rowSpan', '2');
        }
      }
    }
  }
  body.appendChild(tbl);
}

tableCreate();
{
function tableCreate1() {
  const body = document.body,
        tbl = document.createElement('table');
  tbl.style.width = '150px';
  tbl.style.border = '1px solid black';
  tbl.style.background = 'red'

  for (let i = 0; i < 11; i++) {
    const tr = tbl.insertRow();
    for (let j = 0; j < 1; j++) {
      if (i === 11 && j === 1) {
        break;
      } else {
        const td = tr.insertCell();
        td.appendChild(document.createTextNode(`2${j}${i}`));
        td.style.border = '1px solid black';
        if (i === 11 && j === 1) {
          td.setAttribute('rowSpan', '2');
        }
      }
    }
  }
  body.appendChild(tbl);
}

tableCreate1();}

</script>
<!--        <script type="text/javascript" src="scripts.js"></script>-->
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>



{% endblock content %}